
<div class="text-light" >

<h1 class="text-light">about</h1>
<h3  class="text-info" >Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe perferendis minus accusantium inventore eveniet dolorum obcaecati quas quam libero ut voluptatem, eligendi ipsum animi assumenda at, impedit ex, consectetur explicabo?</p>

</div>