{{#each errors}}
  <div
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
    data-auto-dismiss="2000"
  >
    <strong>{{text}}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/each}}

{{#if error}}
  <div
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
    data-auto-dismiss="2000"
  >
    {{error}}
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}